<ion-content>
	<div class="container">
		
		<h1 class="welcomeMessage">Crear Usuario</h1>

		<div class="form-wrapper">
			<form>

				<div class="input-container">
					<ion-input class="celNumber-field" type="text" placeholder="Número de celular *"></ion-input>
				</div>

				<div class="input-container">
					<ion-input class="homePhone-field" type="text" placeholder="Teléfono fijo"></ion-input>
				</div>

        <div class="input-container">
					<ion-input class="rol-field" type="text" placeholder="Rol*"></ion-input>
				</div>

        <div class="input-container">
					<ion-input class="status-field" type="text" placeholder="Estado*"></ion-input>
				</div>

        <div class="input-container">
					<ion-input class="colaborator-field" type="text" placeholder="Colaborador*"></ion-input>
				</div>

				<div class="create-container">
					<ion-button class="guardar-button" type="submit" (click)="guardarClicked()">Guardar</ion-button>
				</div>
			</form>
		</div>

		

	</div>
</ion-content>
