<ion-content>
	<div class="container">
		
		<h1 class="welcomeMessage">Crear Usuario</h1>

		<div class="form-wrapper">
			<form>

				<div class="input-container">
					<ion-input class="idType-field" type="text" placeholder="Tipo de Documento *"></ion-input>
				</div>

				<div class="input-container">
					<ion-input class="id-field" type="text" placeholder="Número de Docuemnto"></ion-input>
				</div>

        <div class="input-container">
					<ion-input class="name-field" type="text" placeholder="Nombre(s)*"></ion-input>
				</div>

        <div class="input-container">
					<ion-input class="firstName-field" type="text" placeholder="Primer Apellido*"></ion-input>
				</div>

        <div class="input-container">
					<ion-input class="secondName-field" type="text" placeholder="Segundo Apellido*"></ion-input>
				</div>

        <div class="input-container">
					<ion-input class="email-field" type="text" placeholder="Email*"></ion-input>
				</div>


				<div class="loing-container">
					<ion-button class="loging-button" type="submit" (click)="loginClicked()">Ingresar</ion-button>
				</div>
			</form>
		</div>

		<div class="change-password-container">
			<ion-button class="change-password-button">Recuperar contraseña</ion-button>
		</div>

	</div>
</ion-content>