<ion-content>
	<div class="container">

		<div class="image-container">
			<ion-img src="../../../assets/img/super_giros.svg"></ion-img>
		</div>

		<h1 class="welcomeMessage">Por favor ingresa tu nueva contraseña</h1>

		<div class="form-wrapper">
			<form [formGroup]="formChangePassword">

				<div class="input-container">
					<ion-input formControlName="newPassword" class="new-password" type="password" placeholder="Nueva contraseña"></ion-input>
				</div>

				<div class="input-container">
					<ion-input formControlName="newPasswordConfirm" class="new-password-confirm" type="password" placeholder="Confirmar nueva contraseña"></ion-input>
				</div>

				<div class="password-rules-container">
					<h2 class="rules-message">La contraseña debe tener</h2>

					<div class="rules-container-1">
						<ion-label>Una letra en Minúscula</ion-label>
						<ion-label>Mínimo 8 carácteres</ion-label>
					</div>

					<div class="rules-container-2">
						<ion-label>Una letra en Mayúscula</ion-label>
						<ion-label>Un Número</ion-label>
					</div>
				</div>

				<div class="change-password-container">
					<ion-button class="change-password--button" type="submit" (click)="loginClicked()">Cambiar Contraseña</ion-button>
				</div>
			</form>
		</div>
	</div>
</ion-content>
