<ion-content>
	<div class="container">
		<ion-img src="../../../assets/img/super_giros.svg"></ion-img>
	</div>

	<h1>Por favor ingresa tu nueva contraseña</h1>

	<div class="form-wrapper">
		<form>
			<div class="input-container">
				<ion-input class="new-password" type="password" placeholder="Nueva contraseña"></ion-input>
			</div>

			<div class="input-container">
				<ion-input class="new-password-confirm" type="password" placeholder="Confirmar nueva contraseña"></ion-input>
			</div>

			<div class="password-rules-container">
				
			</div>


		</form>
	</div>
</ion-content>
